.edit-curriculum-body{
    padding: 50px 0;
}

.select-input {
    width: 125px;
    border: #923d41 2px solid;
    color: #923d41;
}

.edit-curriculum-hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hero-item {
    /* align-self: end; */
    justify-self: center;
}

.edit-curriculum {
    background-color: #F0F0F0;
    padding: 100px 0;
}